{% extends 'base.html'%}
{% load static %}
{% block content %}
  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/ephremDanielphoto.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Ephrem Daniel</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="live:.cid.f8bd65fa50e26251" class="google-plus"><i class="bx bxl-skype" ></i></a>
          <a href="https://www.linkedin.com/in/ephrem-daniel-31966b227/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/iphadan" class="github"><i>Git</i></a>

        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <!-- <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li> -->
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Ephrem Daniel</h1>
      <p>I'm <span class="typed" data-typed-items="Fullstack Developer, Django/Python Developer, Java/Spring boot Developer,Backend Developer, Frontend Deveoloper, Freelancer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Experienced Full-Stack Developer specializing in Python Django, Java Spring Boot,
            Angular, and React. Passionate about crafting robust and scalable web applications
            with exceptional user experiences. A dedicated problem-solver who stays updated
            with the latest industry trends and technologies. Ready to deliver impactful
            solutions for your development needs.</p>
        </div>

        <div class="row">
          <div class="col-lg-2" data-aos="fade-right">
            <img src="{% static 'assets/img/ephremDanielphoto.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Full-Stack &amp; Backend Developer.</h3>
         
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>1 oct 1996</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>ephadaniel177@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>linkedin:</strong>  <span><a href="https://www.linkedin.com/in/ephrem-daniel-31966b227/">https://www.linkedin.com/in/ephrem-daniel-31966b227/</a></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Github:</strong> <span><a href="https://github.com/iphadan">https://github.com/iphadan</a> </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Skype:</strong> <span>live:.cid.f8bd65fa50e26251</span></li>
                
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
              
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bsc in Computer Science and Engineering</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Ethiopia, Addis Ababa</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+251923105778/+251912750146</span></li>

                </ul>
              </div>
            </div>
            <h1>DIGITAL SKILLS </h1>
            <p>
              
python Django Rest FWK Spring (Spring Boot, Spring MVC, Spring Security, Spring Data) docker Version Control
System (Git) Html, Java, CSS Bootsrap WordPress and Wix Python scripting.
           </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Worked for different companies </p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="58" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="17" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="754" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hard Workers</strong></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">
            <div class="progress">
              <span class="skill">Python <i class="val">88%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="80"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Java <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Angular <i class="val">78%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="78"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">HTML, JavaScript, CSS  <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Docker <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">RestAPI<i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">


            <div class="progress">
              <span class="skill">Django <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Spring Boot <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Spring Security <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">JWT<i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Bootsrap <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Integration <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Ephrem Daniel</h4>
              <p><em>Highly skilled and dedicated Mid-Level Full-Stack Developer with expertise in
                Python Django and Java Spring Boot for backend development, as well as Angular
                and React for frontend development. Adept at creating robust and scalable web
                applications while delivering exceptional user experiences. Strong problem-solving
                abilities and a passion for staying up-to-date with the latest industry trends and
                technologies.</em></p>
              <ul>
                <li>Ethiopia, Addis Ababa</li>
                <li>+251923105778/+251912750146</li>
                <li>ephadaniel177@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bsc in Computer Science and Engineering &amp; Software Development</h4>
              <h5>2017 - 2022</h5>
              <p><em>Adama Science and Technology Universtiy, Adama</em></p>
            </div>
            <div ><a href="{% static 'assets/EphremDanielCV.pdf' %}" target="_blank">
            <button type="submit" onclick="loadCircle()"  class="btn btn-primary mb-3 justify-content-center">Open Resume</button></a></div>

          </div>

        
          
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Fullstack Developer</h4>
              <h5>2022 - Present</h5>
              <p><em>Cooperative Bank Of Oromia, Ethiopia Head Office </em></p>
              <ul>
                <li> Analysis and Design</li>
                <li>Coding and Implementation </li>
                <li>Testing and Debugging</li>
                <li>Maintenance and Upgrades</li>
                <li>Collaboration and Communication</li>
                <li>Documentation</li>
                <li>Integration</li>
                

              </ul>
            </div>
            <div class="resume-item">
              <h4>FullStack Developer</h4>
              <h5>2023 - present</h5>
              <p><em>Yene technologies Plc, Ethiopia, Addis Ababa</em></p>
              <ul>
                <li>Developing User Interfaces</li>
                <li>Integration of Third-Party APIs</li>
                <li>Building Back-end Systems</li>
                <li>Version Control and Deployment</li>
                <li>Problem Solving and Troubleshooting</li>
                <!-- <li>YeneMekina :- I am currently in the process of developing Yenemekina, an innovative online car sales
                  platform. The platform aims to provide a user-friendly interface,search functionality, and direct
                  communication capabilities for buyers and sellers. With a wide selection of cars and a focus on
                  responsive design and optimized performance, Yenemekina aims to transform the car buying
                  experience and offer a convenient and efficient solution for users.</li>
                <a href=" YeneGym (gymrender.onrender.com)">Github Link:- iphadan/gymRender (github.com)</a><br>
                <a href="iphadan/gymRender (github.com)">Github Link:- iphadan/gymRender (github.com)</a>
                <li>YeneGym :-I am currently developing YeneGym, a comprehensive gym management system that caters to
                  gym owners' needs. The system includes features such as membership management, ID card generation
                  with QR code functionality, and various administrative tools. With YeneGym, gym owners can efficiently
                  manage membership details, track attendance, and generate ID cards with unique QR codes for each
                  member. These QR codes can be used for easy and secure access control to the gym premises. YeneGym
                  aims to streamline gym operations, enhance security, and provide a convenient management solution
                  for gym owners</li>
                <a href="YeneMekina (yenemekinafinal.onrender.com)">Github Link:- iphadan/gymRender (github.com)</a><br>
                <a href="iphadan/yenemekinaFinal (github.com)">Github Link:- iphadan/gymRender (github.com)</a> -->
              </ul>
            </div>

            <div class="resume-item">
              <h4>Django/Python Developer</h4>
              <h5>2022 - 2023</h5>
              <p><em>Dan Energy, Ethiopia Head Office </em></p>
              <ul>
                <li> Analysis and Design</li>
                <li>Coding and Implementation </li>
                <li>Testing and Debugging</li>
                <li>Maintenance and Upgrades</li>
                <li>Collaboration and Communication</li>
                <li>Documentation</li>
                <li>Integration</li>
                

              </ul>
            </div>
            <div class="resume-item">
              <h4>System Administrator</h4>
              <h5>2021- 2022</h5>
              <p><em>ASTU, Adama, Ethiopia </em></p>
              <ul>
                <li>Understanding and Using Linux Operating system,Understanding the
                  Sudo Linux Group and User</li>
                <li>Understanding and Using Linux Commands </li>
                <li> Working with Linux Groups, Users, and Directories,Creating and Deleting
                  User Accounts</li>
                <li>file restores, disaster recovery, new system builds, hardware
                  maintenance, automation, user maintenance, application installation
                  and configuration, system security management, and storage
                  management.</li>
                <li>Collaboration and Communication</li>
                <li>Docker</li>
                

              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>As a full-stack web developer, I have experience working with a variety of popular frameworks and languages. On this page, I'll give you a high-level overview of some of the projects I've completed.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Full Stack</li>
              <li data-filter=".filter-card">Back End</li>
              <li data-filter=".filter-web">Front End</li>
              <li data-filter=".filter-python">Python/Django</li>
              <li data-filter=".filter-java">Java/Spring Boot</li>
              <!-- <li data-filter=".filter-video">Video</li> -->


            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-java filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/FinanceAndTrade/CoopTrade.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/FinanceAndTrade/CoopTrade.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

   

          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-java filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/FinanceAndTrade/CoopFinance.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/FinanceAndTrade/CoopFinance.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          
     

          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-java filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/cist/CoopCist1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/cist/CoopCist1.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/cist/CoopCist2.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/cist/CoopCist2.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

         
          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/cist/CoopCist3.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/cist/CoopCist3.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-java filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/cist/CoopCist4.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/cist/CoopCist4.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-java filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/cist/CoopCist5.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/cist/CoopCist5.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          
          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-python">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/cist/CoopCist6.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/cist/CoopCist6.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-python">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/cist/CoopCist7.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/cist/CoopCist7.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/cist/CoopCist8.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/cist/CoopCist8.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-python" >
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/cist/CoopCist9.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/cist/CoopCist9.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
<!-- back end =>filter-card  front end => filter-web -->
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/cist/CoopCist10.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/cist/CoopCist10.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

    
          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-python filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/python/BGIDjango.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/python/BGIDjango.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          

          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-python filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/python/yeneGym.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/python/yeneGym.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-python filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/python/yeneGym1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/python/yeneGym1.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-python filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/python/yeneGym2.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/python/yeneGym2.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-python ">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/python/yeneGym3.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/python/yeneGym3.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-python filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/python/yeneGym4.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/python/yeneGym4.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-python ">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/python/yeneGym5.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/python/yeneGym5.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-python filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/python/yeneGym6.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/python/yeneGym6.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-web filter-python ">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/python/yeneGym7.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/python/yeneGym7.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Portfolio Section -->

   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <P>If you are interested , please feel free to reach out to me using any of the following contact methods:</P>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Coop Flamingo, Addis Ababa</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>ephadaniel177@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+251923105778 / +251912750146</p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d341.13612054416257!2d38.765242296767795!3d9.007880392253687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b85ba60ea840d%3A0x21d4319d63f7cd2!2sCooperative%20Bank%20of%20Oromia!5e0!3m2!1sen!2set!4v1715950313923!5m2!1sen!2set" frameborder="0" style="border:0; width: 100%; height: 290px;"  allowfullscreen="" ></iframe>
            </div>

          </div>
        
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="{% url 'contact' %}" method="post"  >
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="col-auto">
             
              </div>
              <div class="mb-3">
                <div id="spinner-grow-1" class="spinner-grow text-success" role="status" hidden>
                  <span class="sr-only"></span>
                </div>
               
                <div id="spinner-grow-2" class="spinner-grow text-warning" role="status" hidden>
                  <span class="sr-only"></span>
                </div> 
                <div id="spinner-grow-3" class="spinner-grow text-danger" role="status" hidden>
                  <span class="sr-only"></span>
                </div>
                <div id="spinner-grow-4" class="spinner-grow" role="status" hidden>
                  <span class="sr-only"></span>
                </div>
                <br>
          
              <div ><button type="submit" onclick="loadCircle()"  class="btn btn-primary mb-3 justify-content-center">Send Message</button></div>
            </form>
          </div>

        </div></div><br>
        <p>I am excited about the opportunity to collaborate with you and contribute to your project's success. I look forward to hearing from you and discussing the details further.</p>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  {% endblock %}

 